.review-box{
    text-align: left;
    color: black
}

.review-comment-box{
    background-color: #F5F5F5;
}
.img-user-profile{
    align-self: center;
}

.form-review .MuiOutlinedInput-root{
    border-radius: 50px;
    border: none;
}

 .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: (red);
}

.disable-button{
    pointer-events: none;
}